@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --main-color:#7cf03d;
    --white-color:#fff;
    --disable-color:#fff3;
}

html{
    font-size: 62.5%;
}
body{
    color: var(--white-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; 
    opacity: 0;
    pointer-events: none;
}

header.active {
    animation: show-header 1.5s ease forwards;
    animation-delay: 1.2s;
}

@keyframes show-header {
    100% {
        opacity: 1;
        pointer-events: auto;
    }
}


.logo{
    font-size: 3rem;
    color: var(--white-color);
    font-weight: 600;
    transition: .5s;
}

nav {
    display: flex;
}

@media screen and (max-width: 810px) {
    nav {
        display: none; 
    }

    nav.active {
        display: block; 
    }
}


nav a{
    font-size: 1.8rem;
    color: var(--white-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: .3s;
}

nav a:hover,
nav a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 4rem;
    display: none;
}

.bars-box {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
      
}
.bars-box .bar {
    width: 100%;
    height: 100%;
    background: var(--bg-color);
     animation: hide-bars .5s ease-in-out both;
    animation-delay: calc(.1s * var(--i));

    
}
@keyframes hide-bars{
    0%{ transform: translateY(0); }
    100%{ transform: translateY(-100%); } 
}


.bars-box.active .bar{
    animation: show-bars .5s ease-in-out both;
    animation-delay: calc(.1s * var(--i));

}

@keyframes show-bars{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

section{
    position:absolute;
    width: 100%;
    height: 100%;
    padding: 10rem 9% 2rem;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}
section.active {
    visibility: visible;
    overflow: auto;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;
}

@keyframes show-content {
    0% {
        opacity: 0;
        pointer-events: none;
    }
    100% {
        opacity: 1;
        pointer-events: auto;
    }
}

.home-details {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 1.5rem; 
    max-width: 700px; 
}


.home-details h1 {
    font-size: clamp(3rem, 7vw, 5rem);
    font-weight: 700;
    line-height: 1.1;
}

.home-details h2 {
    font-size: 2.6rem;
    font-weight: 500;
    color: var(--main-color);
}
.home-details h2 span{
     position: relative;
     display: inline-block;
     color: transparent;
     -webkit-text-stroke: .07rem var(--main-color);
     
}
.home-details h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: .2rem solid var(--main-color);
    color: var(--main-color);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text{
    10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
.home-details p {
    font-size: 1.4rem;
    line-height: 1.6;
    max-width: 90%;
}


/* ---- Download Button Glow ----- */
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--main-color);
    color: #000;
    font-weight: 600;
    border-radius: 5rem;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 10px var(--main-color);
}

.btn:hover {
    box-shadow: 0 0 20px var(--main-color), 
                0 0 40px var(--main-color);
    transform: translateY(-3px);
}


/*---- Social Icons Glow ---*/
.sci a {
    width: 45px;
    height: 45px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: var(--main-color);
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 10px #0000; 
}

.sci a:hover {
    background: var(--main-color);
    color: #000;
    box-shadow: 0 0 20px var(--main-color), 
                0 0 40px var(--main-color);
    transform: translateY(-3px);
}

.sci {
    display: flex;
    gap: 1.2rem;
}
.btn-sci {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12rem 9% 2rem;
    height: 100vh;
    background: transparent;
}



.home-img .img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}


.home-img .img-box::before,
.home-img .img-box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 4px;
    background: conic-gradient(transparent 0deg, transparent 200deg, var(--main-color));
    animation: rotate-border 8s linear infinite;
}


.home-img .img-box::after {
    animation-delay: -4s;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}


.home-img .img-box .img-item {
    position: relative;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background: var(--bg-color);
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
}


.home-img .img-box .img-item img {
    width: 90%;
    object-fit: cover;
    margin-top: 2rem;
}

.heading{
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.heading span{
    color: var(--main-color);
}

.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
}
.services-container .services-box{
    padding: 3rem 2.5rem;
    background: var(--second-bg-color);
    border: .2rem solid var(--second-bg-color);
    border: 1rem;
    transition: .5s;
    border: 2px solid transparent;
}
.services-container .services-box:hover{
    border-color:var(--main-color);
    transform: scale(1.02);
}
.services-box .icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}
.services-box .icon i{
    font-size: 4.5rem;
}
.services-box:hover .icon :not(a i){
    color:var(--main-color);
}

.services-box .icon a{
    display: inline-flex;
    background: var(--white-color);
    border-radius: 50%;
    padding: 1rem;
    transition: .5s;
}
.services-box:hover .icon a{
    background: var(--main-color);
}
.services-box .icon a i{
    font-size: 3rem;
    color: var(--bg-color);
    transform: rotate(255deg);
     transition: .5s;
}
.services-box .icon a:hover i{
    transform: rotate(180deg);
}
.services-box h3{
    font-size: 2.8rem;
    margin: .5rem 0 2rem;
    transition: .5s;
}
.services-box:hover h3{
    color: var(--main-color);
}
.services-box p{
    font-size: 1.2rem;
}
.resume-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}
.resume-box h2{
    font-size: 4.5rem;
}
.resume-box p{
    font-size: 1.2rem;
}
.resume-box .desc{
    margin: 2rem 0 2.5rem;
}

.resume-box .resume-btn{
    width: 100%;
    height: 5.3rem;
    background: var(--second-bg-color);
    border: 2px solid var(--second-bg-color); 
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    border-radius: .2rem;
    cursor: pointer;
}

.resume-box .resume-btn.active{
    border-color: var(--main-color);
    color: var(--main-color);
}

.resume-details{
    display: none;
}

.resume-details.active{
    display: block;
}
.resume-box .heading{
    font-size: 3.5rem;
    text-align: left;
}
.resume-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    max-height: 45rem;
    overflow-y: auto;
    padding-right: 1rem;
}

.resume-list::-webkit-scrollbar{
    width: .7rem;
}
.resume-list::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 1rem;
}

.resume-list:hover::-webkit-scrollbar-thumb{
    background: var(--main-color);
}
.resume-list .resume-item {
    background: var(--second-bg-color);
    border-radius: .8rem;
    padding: 3rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;           
    height: auto;          
    min-height: 18rem;     
}

.resume-item .year {
    color: var(--main-color);
    font-weight: 600;
}

.resume-item h3 {
    font-size: 2.2rem;
    line-height: 1.3;
}

.resume-item .company {
    position: relative;
    margin-left: 2rem;
    margin-bottom: .5rem;
}

.resume-item .company::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: .8rem;
    height: .8rem;
    background: var(--main-color);
    border-radius: 50%;
    left: -2rem;
}
.resume-box .desc {
    margin-bottom: 3rem;
}

.resume-list {
    margin-top: 3rem;
}


.resume-details.skills .resume-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 2rem;
}


.resume-details.skills .resume-item {
    background: var(--second-bg-color);
    border-radius: .8rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18rem;
    position: relative;
    flex-direction: column;
}


.resume-details.skills .resume-item i {
    font-size: 6rem;
    transition: .4s;
}


.resume-details.skills .resume-item:hover i {
    color: var(--main-color);
}


.resume-details.skills .resume-item span {
    margin-top: 1.2rem;
    font-size: 1.6rem;
    font-weight: 500;
}
.resume-details.about .resume-list{
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.resume-details.about .resume-item{
    height: auto;
    padding: 0 0 .1rem;
    background: transparent;

}
.resume-details.about .resume-item p{
    font-size: 2rem;
    color: var(--main-color);
}
.resume-details.about .resume-item p span{
    color: var(--white-color);
    margin: 1rem;
    font-size: 1.8rem;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
}
.portfolio-details{
    display: none;
}
.portfolio-details.active{
     display: block;
}
.portfolio-box .numb{
    font-size: 8rem;
    -webkit-text-stroke: .07rem var(--white-color);
    color: transparent;
    line-height: 1;
}

.portfolio-box h3{
    font-size: 3.5rem;
    margin: .8rem 0 2rem;
}
.portfolio-box p{
    font-size: 1.6rem;
}


.portfolio-box .tech {
    margin: 2rem 0;
    color: var(--main-color);
    border-bottom: .1rem solid var(--white-color);
    padding: 2rem;
}


.portfolio-box .live-github {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}


.portfolio-box .live-github a {
    position: relative;         
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.8rem;
    font-size: 1.6rem;
    background: var(--second-bg-color);
    color: var(--white-color);
    border-radius: 1rem;
    text-decoration: none;
    transition: 0.3s ease;
    transition: .5s;
}

.portfolio-box .live-github a:hover{
    color: var(--main-color);
}


.portfolio-box .live-github a span {
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    white-space: nowrap;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    background: var(--white-color);
    color: var(--bg-color);
    opacity: 0;
    scale: .9;
    transition: .2s;
}


.portfolio-box .live-github a:hover span {
    top: -70%;
    opacity: 1;
   
    transform: translateX(-50%) scale(1);
}
.portfolio-box .portpolio-kk{
    width: 100%;
    height: 45rem;
    border-radius: 1rem;
    overflow: hidden;
}

.portpolio-kk .img-slide{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 2rem;
    height: inherit;
    transition: .5s;
}
.portpolio-kk .img-item{
    height: inherit;
}
.portpolio-kk .img-item img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.portfolio-box .navigation{
    text-align: right;
    margin-top: 2rem;
}
.portfolio-box .navigation button{
    display: inline-flex;
    padding: .4rem;
    background: var(--second-bg-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    font-size: 4rem;
    color: var(--main-color);
    cursor: pointer;
}
.portfolio-box .navigation button.disabled{
    border-color: var(--second-bg-color);
    color: var(--disable-color);
}
.portfolio-box .navigation .arrow-right{
    margin-left: 1.5rem;
}

/*------------contact*/

.contact-container{
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 3rem;
}

.contact-container .contact-box:first-child{
    align-self: center;
}

.contact-box h2{
    font-size: 4.5rem;
}

.contact-box p{
    font-size: 1.6rem;
}
.contact-box .desc{
    margin: 1.5rem 0 2.5rem;
}

.contact-box .contact-detail{
    display: flex;
    align-items: center;
    margin: 2rem;
}

.contact-detail i{
    display: inline-flex;
    background: var(--second-bg-color);
    color: var(--main-color);
    font-size: 3rem;
    padding: 1.2rem;
    border-radius: .6rem;
    margin-right: 1.5rem;
}

.contact-detail .detail p:first-child{
    color: var(--main-color);
}
.contact-box form{
    background: var(--second-bg-color);
    padding: 2.5rem 3.5rem 3.5rem;
    border-radius: 1rem;
    text-align: center;
}

.contact-box .heading{
    font-size: 3.5rem;
}

.contact-box .field-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.contact-box .field-box input,
.contact-box .field-box textarea{
    padding: 1.5rem;
    background: var(--bg-color);
    border: .15rem solid var(--bg-color);
    border-radius: .6rem;
    font-size: 1.6rem;
    color: var(--white-color);
}

.contact-box .field-box textarea{
    grid-column: 1 / -1;
    height: 26rem;
    resize: none;
}
.contact-box .field-box input:focus,
.contact-box .field-box textarea:focus {
    border-bottom: 2px solid var(--main-color);
    outline: none;
 }

.contact-box .btn{
    margin-top: 2rem;
    cursor: pointer;
}


/*----------breakpoints*/

@media screen and (max-width: 1200px){
    html{
        font-size: 55%;

    }
}

@media  screen and (max-width: 992px) {
        header{
            padding: 2rem 4%;
        }    
        section{
            padding: 10rem 4% 2rem;
        }
}

@media  screen and (max-width: 810px) {
        .contact-box .field-box{
            grid-template-columns: 1fr;
              }
}

 @media screen and (max-width: 810px) {

    #menu-icon {
        display: block;
        cursor: pointer;
    }

    header nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        background: var(--bg-color);
        border-top: .1rem solid rgba(255, 255, 255, .1);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        text-align: center;
        display: none; 
    }

    header nav.active {
        display: block; 
    }

    header nav a {
        display: block;
        margin: 3rem 0;
        font-size: 2rem;
    }



    .home{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 2rem;
    }

    .home-img .img-box{
        width: 335rem;
        height: 35rem;
    }

    .resume-container,
    .portfolio-container,
    .contact-container{
        grid-template-columns: 1fr;
    }

    .resume-container{
        gap: 3rem;
    }

    .portfolio-container .portfolio-box:first-child{
        order: 1;
    }

    .contact-box .field-box{
        grid-template-columns: repeat(2, 1fr);
    }

 }
 
 @media screen and (max-width: 600px) {
    .home-img .img-box{
        width: 30rem;
        height: 30rem;
    }
    .contact-container .field-box{
        grid-template-columns: 1fr;
    }
    
 }
 

 @media screen and (max-width: 450px){
    html{
        font-size: 50%;
    }
 }
 
 @media screen and (max-width: 400px){
    .home-details,
    .resume-box h2,
    .resume-box .heading,
    .resume-box .desc,
    .resume-details.about .resume-item{
        text-align: center;
    }
    .home-details .btn-sci{
        flex-direction: column-reverse;
    }
    .home-details .btn-sci .sci{
        margin-left: 0;
        margin-bottom: 2rem;
    }
    .contact-box form{
        padding: 2.5rem 3rem 3.5rem;
    }
    .contact-box h2{
        font-size: 3.5rem;
    }
 }